.labelUpload {
    &:hover {
        background-color: rgba(22, 24, 35, 0.1);
        cursor: pointer;
    }
}

.btnSend {
    &:hover {
        color: #0dcaf0;
    }
}

.messageCurrentUser {
    background-color: #e8f3ff !important;
}
